@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.persona-status-badge {
    border: 1px solid;
    border-color: $neutral-0;
    background: $neutral-0;
    bottom: -3px;
    right: -2px;
    border-radius: 10px;
    line-height: 12px;
    font-size: 0.75rem;
}

.white-space-normal {
    white-space: normal;
}
