@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.centered-header > div {
    justify-content: center;
}

.has-unresolved-comments {
    color: $status-warning-foreground;
}

.has-only-resolved-comments {
    color: $status-success-text;
}
